<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 mx-auto">
      <h3>送信が完了しました</h3>
      <h5>メールの内容</h5>
      <p class="mail-title">
        [title] <%= @mail_title %>
      </p>
      <p class="mail-body">
        [text] <%= safe_join(@mail_content.split("\n"), tag(:br)) %>
      </p>
    </div>
  </div>
</div>